// General Site Customizations

// 0. Custom by greg
// -----------------
// Custom colors 
$nav-text: #47A3B5;
$nav-bar: #DABE9C;
// end Custom colors 

// Custom font size 
$nav-text-size: 1.1rem;
// end Custom font size 