@import '_settings';

//*************************************************************//
// navbar--primary mixin
// Sets the scss properties for the primary navigation
//*************************************************************//
@mixin navbar--primary($bt_thickness, $bb_thickness, $bd_color, $top_position, $transition_speed){
	border-top: $bt_thickness solid $bd_color;
	border-bottom: $bb_thickness solid $bd_color;
	position: absolute;
	top: $top_position;
	width: 100%;
	// margin-right: 3rem;
	-webkit-transition: all $transition_speed ease;
	transition: all $transition_speed ease;
}

//*************************************************************//
// logo--primary mixin
// Sets the scss properties for the primary logo in the 
// navigation bar
//*************************************************************//
@mixin logo--primary($margin-top, $margin-right, $margin-bottom, $margin-left, $padding, $transition_speed, $scale){
	margin: $margin-top $margin-right $margin-bottom $margin-left;
	padding: $padding;
	-webkit-transition: all $transition_speed;
	transition: all $transition_speed;
	-webkit-transform:  scale($scale);
	transform:  scale($scale);
}

.nav {
	&__links--primary {
		margin-right: 0.5rem;
	}
	&__links--primary a {
		color: $nav-text-c;
		text-transform: uppercase;
		font-size: $nav-text-size;
	}
	&__links--primary a:hover {
		color: rgba($nav-text-c, .5);		
	}
	//Set the primary navbar when page is loaded or scrolled up to top of page to normal size
	&__nav-bar--primary-loaded{
		// border top thickness, border bottom thinkness, border color, top absolute position of the menu bar
		@include navbar--primary(1px, 2px, $border-c, 40px, .7s);		
		.logo-name{
			// @media screen and (max-width: 39.9375em) 
			@include breakpoint(small only) {
				// margin border top, right, bottom, left; padding, transition speed, scale
				@include logo--primary(0, 0, 0, -2rem, 0, .7s, .70);
			}
			// margin border top, right, bottom, left; padding, transition speed, scale
			@include logo--primary(.5rem, 0, .5rem, 3rem, .5rem, .7s, 1);
		}
	}
	//Change the primary navbar when scrolling -- this will shrink the menu and logo
	&__nav-bar--primary-moved{
		padding: 0;
		// border top thickness, border bottom thinkness, border color, top absolute position of the menu bar
		@include navbar--primary(0, 2px, $border-c, 0, .7s);
		.logo-name{
			// margin border top, right, bottom, left; padding, transition speed, scale
			@include logo--primary(0, 0, 0, 3rem, 0, .7s, .75);
		}
	}
}
